.__head {
  background-color: #1b2a47;
  margin-top: 5%;
}

.__img_container span {
  display: inline-block;
  margin-top: 10%;
  font-size: 100rem;
}

.__vs {
  font-size: 10rem;
  margin-top: 14%;
}

.__fire img {
  display: inline-block;
  width: 170px;
  width: 170px;
  position: absolute;
  left: 44%;
}

@media screen and (max-width: 320px) {
  .__vs {
    padding: 0.9rem;
    font-size: 2.4rem;
    text-align: center;
    position: relative;
  }
  .__fire img {
    position: absolute;
    top: 91%;
    width: 40px;
    width: 40px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .__vs {
    font-size: 8rem;
  }
}
